

/* Inicio navBar */
#navBar{
    background-color: #353A40 !important;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 0px;
}

.container-fluid{
    padding-bottom: 20px;
} 

#img{
    width: 100px;
    height: 60px;
}

#conferencia{
    color: #ffffff !important;
}

.navbar-brand{
    color: #ffffff !important;
}

.nav-link{
    color: #9C9DA2 !important;
}

#ticket{
    color: #25A946 !important;
}

.navbar-toggler{
    margin-right: 3%;
    border-color: #000000 !important;
}

/* Fin navBar */
/* ---------------------------------------------------------------------------------- */
/* Inicio carrusel */

#carouselExampleAutoplaying{
    margin-top: 70px;
    margin-bottom: 10px;
}

.d-block{
    filter: brightness(50%) !important;
}

.text-overlay{
    margin-left: 5%;
    margin-right: 5%;
}

.quiero{
    background-color: transparent;
    color: #888686;
    border: solid 1px #777777;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    margin-right: 10px;
}

.comprar{
    background-color: #25A946;
    color: #ffffff;
    border: solid 1px #25A946;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
}
/* Fin carrusel */
/* ---------------------------------------------------------------------------------- */
/* Inicio oradores */
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.card{
    width: 18rem;
    margin: 10px;
    border-radius: 5px 5px 0 0 !important;
}

.card-body{
    display: block;
    text-align: left;
}

.card-bottom{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.container-booton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.javascript{
    background-color: #FEC106;
    padding: 1px 6px;
    font-weight: bold;
    border-radius: 0.3rem;
    text-align: center;
}

.react{
    background-color: #17A2B9;
    color: #ffffff;
    padding: 1px 6px;
    font-weight: bold;
    border-radius: 0.3rem;
    text-align: center;
    margin-left: 5px;
}

.negocios{
    background-color: #6C757E;
    color: #ffffff;
    padding: 1px 6px;
    font-weight: bold;
    border-radius: 0.3rem;
    text-align: center;
    margin-left: 5px;
}

.startups{
    background-color: #DD3546;
    color: #ffffff;
    padding: 1px 6px;
    font-weight: bold;
    border-radius: 0.3rem;
    text-align: center;
    margin-left: 5px;
}

.card-text{
    font-size: 0.8rem;
}
/* Fin oradores */
/* ---------------------------------------------------------------------------------- */
/* Inicio lugar */

#col2{
    background-color: #353A40;
    color: #ffffff;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

.octubre{
    font-size: 1.1rem;
    font-weight: bold;
}

.texto_span{
    font-size: 0.7rem;
}

.button{
    background-color: #353A40;
    color: #ffffff;
    border: solid 1px #ffffff;
    font-size: 0.8rem;
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 5%;
    
}

.col-md-6{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.text-container{
    padding-left: 5%;
    padding-right: 5%;
}

/* Fin lugar */
/* ---------------------------------------------------------------------------------- */
/* Inicio formulario */

.container-form{
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.izquierda{
    text-align: center;
    font-size: 0.9rem;
}

.btn-success{
    background-color: #96C93E !important;
    border: none !important;
    width: 100%;
}

.anotate{
    display: inline-flex;
    font-size: 0.9rem;

}

#form-control{
    margin-top:  5px !important;
    width: 100%;
}

/* Fin formulario */
/*---------------------------------------------------------------------------------- */
/* Inicio footer */
.page-footer{
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, #1C3643, #1E5372);
}

.nav-link{
    color: #ffffff !important;
    font-size: 0.8rem !important;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fin footer */
/*---------------------------------------------------------------------------------- */
/*Medias Queries*/

@media (max-width: 480px){
    #navBar{
        padding-right: 0px;
        padding-left: 0px;
    }
}

/*---------------------------------------------------------------------------------- */

@media (min-width: 890px){
    /* Inicio carrusel */
    .container-img{
        position: relative;
        margin-top: -65px !important;
    }

    .text-overlay {
        position: absolute;
        top: 45%;
        right: -180px;
        transform: translate(-50%, -50%);
        color: #ffffff;
        padding: 20px;
        width: 550px;
        height: 100px;
        text-align: right;
    }

    .quiero{
        color: #ffffff;
        border: solid 1px #ffffff;
    }
    /* Fin carrusel */
    /*---------------------------------------------------------------------------------- */
    /*Inicio oradores */
    hr{
        display: none;
    }

    .cards{
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .card:hover{
        box-shadow: -3px -2px 8px rgb(51, 27, 27), 3px 2px 8px rgba(97, 0, 0, 0.267);
        cursor: pointer;
    }
    /*Fin oradores */
    /*---------------------------------------------------------------------------------- */
    /* Inicio lugar */

    .imagen-lugar{
        width: 100% !important;
        height: 100%;
    }

    .octubre{
        font-size: 1.5rem;
    }
    
    .texto_span{
        font-size: 1rem;
    }
    
    .button{
        font-size: 1rem;
        border-radius: 5px;
        margin-top: 1%;
        margin-left: 5%;
        
    }
    /* Fin lugar */
    /*---------------------------------------------------------------------------------- */
    /* Inicio formulario */
    .text-puntilla{
        text-decoration:none;
        border-bottom:2px dotted #070707;
    }

    .container-form{
        width: 60%;
    }

    .izquierda{
        text-align: left;
        color: #868686;
    }
    /* Fin formulario */
     /*---------------------------------------------------------------------------------- */
    /*Inicio Footer*/
    .nav-link{
        font-size: 1rem !important;
    }

    .nav{
        padding: 20px;
    }
    
    /*Fin Footer*/
}

