
/* Inicio navBar */
#navBar{
    background-color: #353A40 !important;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 0px;
}

.container-fluid{
    padding-bottom: 20px;
} 

#img{
    width: 100px;
    height: 60px;
}

#conferencia{
    color: #ffffff !important;
}

.navbar-brand{
    color: #ffffff !important;
}

.nav-link{
    color: #9C9DA2 !important;
}

#ticket{
    color: #25A946 !important;
}

/* Fin navBar */
/* ---------------------------------------------------------------------------------- */
/* Inicio carrusel */
.container-img{
    position: relative;
    margin-top: -65px !important;
}

.d-block{
    filter: brightness(50%) !important;
}

.text-overlay {
    position: absolute;
    top: 45%;
    right: -180px;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding: 20px;
    width: 550px;
    height: 100px;
    text-align: right;
}

.carousel-item img {
    clip-path: inset(5% 0 7% 0);
    }

.carousel-control-next{
    margin-right: -4% !important;
}
    
.carousel-control-prev{
    margin-left: -4% !important;
}    

.quiero{
    background-color: transparent;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    margin-right: 10px;
}

.comprar{
    background-color: #25A946;
    color: #ffffff;
    border: solid 1px #25A946;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
}

/* Fin carrusel */
/* ---------------------------------------------------------------------------------- */
/* Inicio cards */
.card-img-top{
    border-radius: 5px 5px 0 0 !important;
}

#oradores{
    margin-top: -3% !important;
}

.cards{
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.card{
    width: 18rem;
    margin: 10px;
    border-radius: 5px 5px 0 0 !important;
}

.card-body{
    display: block;
    text-align: left;
}

.card-bottom{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.container-booton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.javascript{
    background-color: #FEC106;
    padding: 1px 6px;
    font-weight: bold;
    border-radius: 0.3rem;
    text-align: center;
}

.react{
    background-color: #17A2B9;
    color: #ffffff;
    padding: 1px 6px;
    font-weight: bold;
    border-radius: 0.3rem;
    text-align: center;
    margin-left: 5px;
}

.negocios{
    background-color: #6C757E;
    color: #ffffff;
    padding: 1px 6px;
    font-weight: bold;
    border-radius: 0.3rem;
    text-align: center;
    margin-left: 5px;
}

.startups{
    background-color: #DD3546;
    color: #ffffff;
    padding: 1px 6px;
    font-weight: bold;
    border-radius: 0.3rem;
    text-align: center;
    margin-left: 5px;
}

.card-text{
    font-size: 0.8rem;
}

/* Fin cards */
/* ---------------------------------------------------------------------------------- */
/* Inicio lugar */
.text-container{
    padding: 20px;
}

#col2{
    background-color: #353A40;
    color: #ffffff;
}

.col{
    margin: -6px !important;
}

.row{
    margin: none !important;
}

.texto_span{
    font-size: 0.9rem;
    color: #ffffff;
}

.button{
    background-color: #353A40;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 5px;
    margin-left: 20px;
}


/* Fin lugar */
/* ---------------------------------------------------------------------------------- */
/* Inicio formulario */
.container-form{
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titulo_conviertete{
    margin-bottom: 40px;
}

.text-puntilla{
    text-decoration:none;
    border-bottom:2px dotted #070707;
}

.izquierda{
    text-align: left;
}

.btn-success{
    background-color: #96C93E !important;
    border: none !important;
    width: 100%;
}

.anotate{
    display: inline-flex;

}

#form-control{
    margin-top:  20px;
    width: 100%;
}

/* Fin formulario */
/* ---------------------------------------------------------------------------------- */
/* Inicio footer */
.page-footer{
    height: 100px;
    width: 100%;
    background: linear-gradient(to right, #1C3643, #1E5372);
}

.nav-link{
    color: #ffffff !important;
}

#footer{
    display: inline;
    align-items: center;
    justify-content: center;
}

.container{
    margin-top: 20px !important;
    margin-bottom: 50px;
}

/* Fin footer */
/* ---------------------------------------------------------------------------------- */

span{
    font-size: 0.8rem;
}


/* ---------------------------------------------------------------------------------- */
/* Media Queries */


@media (max-width: 768px){
    .container-img{
        margin-top: 10% !important;
    }

    .text-overlay {
        padding-left: 20%;
        top: 25%;
        color: #ffffff;
        width: 550px;
        height: 100px;
        text-align: left;
        padding-bottom: 15%;
    }

    .carousel-item img {
        clip-path: inset(5% 0 7% 0);
        }

    .carousel-control-next{
        margin-right: -4% !important;
    }
        
    .carousel-control-prev{
        margin-left: -4% !important;
    }    

    .quiero{
        background-color: transparent;
        color: #ffffff;
        border: solid 1px #ffffff;
        border-radius: 5px;
        text-align: center;
        padding: 7px;
        margin-right: 10px;
    }

    .comprar{
        background-color: #25A946;
        color: #ffffff;
        border: solid 1px #25A946;
        border-radius: 5px;
        text-align: center;
        padding: 7px;
    }

    .card-img-top{
        border-radius: 5px 5px 0 0 !important;
    }


    .cards{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 50%;
        margin-right: 50%;
        
    
    }

    .card{
        width: 18rem;
        margin: 10px;
        border-radius: 5px 5px 0 0 !important;
    }

    .card-body{
        display: block;
        text-align: left;
    }

    .card-bottom{
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .container-booton{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .row {
        display: flex;
        flex-direction: row;
      }
      
      .col {
        position: relative;
        margin: 0 !important;
        width: 100%;
        margin-top: 150px;
      }
      
      #col2 {
        position: absolute;
        padding-top: -150px;
      }

      .card-img-top{
        margin-top: 230px !important;
      
   


}